.center {
    display: flex;
    flex: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    margin-top: 95px;
}

.button{
    margin-top: 5px;
    margin-left: 120px;
    background-color: white;
    color: darkblue;
    border-color: white;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    font-family: "Bodoni MT";
}

.label1{
    color: darkblue;
    background-color: white;
    margin-left: 80px;
}

.label2{
    color: darkblue;
    background-color: white;
    margin-left: 58px;
}

body{
    margin: 0px;
    background-image: url("../assets/LoginImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.back_button2{
    /*margin-top: 550px;*/
    background-color: darkcyan;
    color: black;
    border-color: darkcyan;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    font-family: "Times New Roman";
}