.tableFormat {
    border: 2px solid mediumpurple;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.center{
    display: flex;
    flex: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    /*margin-left: 500px;
    margin-top: 40px;*/


}

body{
    margin: 0px;
    background-image: url("../assets/SeeTickets.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#myInput {

}