<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet" id="bootstrap-css">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <link rel="stylesheet" th:href="@{/css/AdminPage.css}">
</head>
<body>
<div class="center">
    <div style="margin-top: 280px">
        <button class="button1" onclick="window.location.href='UserOper';">
            Users
        </button>
        <button class="button3" onclick="window.location.href='OrderOper';">
            Orders
        </button>
        <button class="button4" onclick="window.location.href='SaleOper';">
            Sales
        </button>
        <button class="button2" onclick="window.location.href='TicketOper';">
            Tickets
        </button>

    </div>
    <div>
        <form th:action="@{/orders/selectAllFinalisedOrders}" method="get">
            <input type="submit" value="Final orders" class="form1"><br>
        </form>
    </div>
    <button onclick="location.href='LoginAdmin'" class="back_button">Go Back</button>
</div>

</body>
</html>