<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet" id="bootstrap-css">
<head>
  <meta charset="UTF-8">
  <title>OrderFinalised</title>
  <!--<link rel="stylesheet" th:href="@{/css/ClientPage.css}">-->
</head>
<body>

<img th:src="@{${ticket.getImagePath()}}"/>

<button onclick="history.back()" style="margin-top: 20px">Return to page</button>
</body>
<script>
  function fct(){
    var src = th
  }
</script>
</html>