<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet" id="bootstrap-css">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" th:href="@{/css/SelectAllTickets.css}">
</head>
<body>
<div class="center">
    <input type="text" id="myInput" o onkeyup="searchFunc()" placeholder="Search...">
<table id="myTable" class="tableFormat">
    <tr>

        <th onclick="sortareTabel(0)" class="tableFormat"> Id </th>
        <th onclick="sortareTabel(1)" class="tableFormat">Name</th>
        <th onclick="sortareTabel(2)" class="tableFormat">Rating</th>
        <th class="tableFormat">Price</th>
        <th class="tableFormat">Date</th>
        <th class="tableFormat">Hour</th>
        <th class="tableFormat">Nr. Of Tickets</th>
    </tr>
    <tr th:each="ticket : ${tickets}">
        <td class="tableFormat" th:text="${ticket.id}"></td>
        <td class="tableFormat" th:text="${ticket.nume}"></td>
        <td class="tableFormat" th:text="${ticket.rating}"></td>
        <td class="tableFormat" th:text="${ticket.pret}"></td>
        <td class="tableFormat" th:text="${ticket.data}"></td>
        <td class="tableFormat" th:text="${ticket.ora}"></td>
        <td class="tableFormat" th:text="${ticket.nrTickets}"></td>
        <td class="tableFormat">
            <form th:action="@{/ticket/seePoster/{path}(path=${ticket.id})}" method="post">
                <input type="submit" class="buttons_top" value="See poster" onclick="return confirm('Redirect to poster?');"><br>
            </form>
        </td>
    </tr>
</table>
    <button onclick="history.back()" style="margin-top: 20px">Go Back</button>
</div>
</body>

<script>
    function searchFunc(){
        var input, filter, table, tr, td, i ,txtVal;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName('tr');
        //td = tr.getElementsByTagName('td');

        for(i = 1; i < tr.length; i++){
            td = tr[i].getElementsByTagName('td');
            txtVal = td[1].textContent;
            if(txtVal.toUpperCase().indexOf(filter) > -1)
            {
                tr[i].style.display="";
            }
            else
            {
                tr[i].style.display="none";
            }
        }
    }

    function sortareTabel(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("td")[n];
                y = rows[i + 1].getElementsByTagName("td")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

</script>

</html>